.projectname {
  color:#848484;
  font-size: 22px;
}

.menunav {
  color:#5882FA;
  text-align: center;
}

.espaciado {
  padding-top: 20px;
}

.fondogris {
  background-color: #E6E6E6;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.resaltado {
  color: #848484;
  font-size: 16px;
}

p {
  color: #848484;
}
